{% extends "base.html" %} 
{% load static %}

{% block content %}
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="Beranda">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12">  
                        <h1 ><strong>Generasi Berencana</strong><br>menyongsong Indonesia Emas 2045</h1>
                    </div>
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">                        
                        <p>Generasi Berencana adalah remaja/mahasiswa yang memiliki pengetahuan, bersikap dan berperilaku sebagai remaja/mahasiswa, untuk menyiapkan dan perencanaan yang matang dalam kehidupan berkeluarga</p>
                        <a href="#Tentang" class="main-button-slider">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Sehat</h5>
                                <p>menerapkan perilaku hidup bersih dan sehat serta memenuhi gizi seimbang</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Cerdas</h5>
                                <p>memiliki kecerdasan jasmani dan rohani</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Ceria</h5>
                                <p>berperilaku ceria sebagai generasi muda yang penuh semangat</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="Tentang">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/images/berpikir-removebg-preview.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Apa itu Geeweb?</h2>
                    </div>
                    <div class="left-text">
                        <p>Sebagai suatu komitmen untuk terus mencerdaskan kehidupan bangsa. Geeweb hadir sebagai bagian dalam pengembangan ilmu pengetahuan dan pendidikan remaja dalam rangka meningkatkan kualitas remaja demi menyongsong Indonesia Emas 2045.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Peran penting Geeweb dalam mencerdaskan remaja</h2>
                    </div>
                    <div class="left-text">
                        <p>Geeweb hadir dan didukung penuh oleh Genre Kota Bengkulu. Sebagai wadah pengembangan remaja kami memiliki ribuan konselor sebaya yang tersebar diseluruh kabupaten/kota,beberapa psikolog, serta ratusan materi dan video interaktif dalam rangka mengimplementasikan komitmen kami untuk terus mencerdaskan kehidupan bangsa.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="static/images/Pelajar sq.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
   


    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="Materi">
        <div class="mini-content">
            <div class="container">
                <!-- ***** Mini Box Start ***** -->
                
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Materi</h1>
                            <p>Materi seputar Generasi Berencana tersaji secara asik dan menarik untuk disimak disini!</p>
                        </div>
                    </div>
                </div>

                <div class="owl-carousel owl-theme" >                                                 
                            <div class="item">
                                <a href="#" class="mini-box">
                                    <i><img src="static/images/work-process-item-01.png" alt=""></i>
                                    <strong>Bangga Kencana</strong>
                                    <span>Segera!</span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="mini-box">
                                    <i><img src="static/images/work-process-item-01.png" alt=""></i>
                                    <strong>Kesehatan Reproduksi</strong>
                                    <span>Segera!</span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="mini-box">
                                    <i><img src="static/images/work-process-item-01.png" alt=""></i>
                                    <strong>PIK Remaja</strong>
                                    <span>Segera!</span>
                                </a>
                            </div>   
                            <div class="item">
                                <a href="#" class="mini-box">
                                    <i><img src="static/images/work-process-item-01.png" alt=""></i>
                                    <strong>Penyiapan kehidupan Berkeluarga bagi Remaja</strong>
                                    <span>Segera!</span>
                                </a>
                            </div> 
                            <div class="item">
                                <a href="#" class="mini-box">
                                    <i><img src="static/images/work-process-item-01.png" alt=""></i>
                                    <strong>Gizi seimbang</strong>
                                    <span>Segera!</span>
                                </a>
                            </div>   
                </div>         
                
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="Video-Interaktif">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            {% comment %} <div id="carouselVideoKonsul" class="carousel slide" data-interval="false"> {% endcomment %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Sajian video menarik disini!</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>Mari simak paparan video interaktif mengenai remaja.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
                {% comment %} <div class="carousel-inner"> {% endcomment %}
                    {% comment %} <div class="carousel-item active"> {% endcomment %}
                        <div class="owl-carousel owl-theme">
                            <!-- ***** Testimonials Item Start ***** -->
                            <div class="item">
                                <div class="team-item">
                                    <div class="team-content">                                    
                                        <i><iframe width="240" height="180" src="https://www.youtube.com/embed/7caNIDEc06o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></i>
                                        <p>Kesehatan Reproduksi Remaja adalah suatu kondisi sehat yang menyangkut sistem, fungsi dan proses reproduksi yang dimiliki oleh remaja. Pelajari lebih jauh tentang Kesehatan Reproduksi Remaja.</p>
                                        <div class="user-image">
                                            <img src="static\images\bkkbn.jpg" alt="">
                                        </div>
                                        <div class="team-info">
                                            <h3 class="user-name">BKKBN Ngaringan</h3>
                                            <span>Youtube</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ***** Testimonials Item End ***** -->
                            
                            <!-- ***** Testimonials Item Start ***** -->
                            <div class="item">
                                <div class="team-item">
                                    <div class="team-content">
                                        <i><iframe width="240" height="180" src="https://www.youtube.com/embed/0zm5U4BEl2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></i>
                                        <p>Napza adalah singkatan dari Narkoba,Psikotropika,dan Zat Adiktif lainnya. Sebagai remaja yang sehat,cerdas,dan ceria teman-teman harus menghindari hal tersebut. Mari simak materi mengenai Napza disini!</p>
                                        <div class="user-image">
                                            <img src="static\images\promkes.jpg" alt="">
                                        </div>
                                        <div class="team-info">
                                            <h3 class="user-name">Direktorat Promkes dan</h3>
                                            <h3 class="user-name">PM Kemenkes RI</h3>
                                            <span>Youtube</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ***** Testimonials Item End ***** -->
                            
                            <!-- ***** Testimonials Item Start ***** -->
                            <div class="item">
                                <div class="team-item">
                                    <div class="team-content">
                                        <i><iframe width="240" height="180" src="https://www.youtube.com/embed/ySvu6MTKYKk " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></i>
                                        <p>Pendewasaan Usia Perkawinan adalah  adalah upaya untuk meningkatkan usia pada perkawinan pertama, sehingga pada saat perkawinan mencapai usia minimal 20 tahun bagi perempuan dan 25 tahun bagi laki-laki. Mari simak dampak dari Pendewasaan Usia Perkawin disini!</p>
                                        <div class="user-image">
                                            <img src="static\images\bkkbn.jpg" alt="">
                                        </div>
                                        <div class="team-info">
                                            <h3 class="user-name">BKKBN Ngaringan</h3>
                                            <span>Youtube</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ***** Testimonials Item End ***** -->
                        </div>
                    {% comment %} </div> {% endcomment %}
                
                {% comment %} </div>              {% endcomment %}
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="Konseling-Gratis">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Konseling Gratis</h2>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-8">
                    <div class="center-text">
                        <p>Kami percaya bahwa kesehatan mental merupakan faktor penting dalam kehidupan karena didalam badan yang sehat terdapat jiwa yang sehat. Mari hubungi psikolog dan para konselor sebaya kami untuk mendapatkan pelayanan kesehatan mental secara gratis!</p>
                    </div>
                </div>
            </div>

                <div class="owl-carousel owl-theme">
                    
                        
                            <div class="item" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                                <div class="pricing-item">
                                    <div class="pricing-header">
                                        <h3 class="pricing-title">Psikolog</h3>
                                        <div class="col-lg-12  align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                                            <img src="static/images/Konseling Gratis_Psikolog Mist.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
                                        </div>
                                    </div>
                                    <div class="pricing-body">                                        
                                    </div>
                                    <div class="pricing-footer">
                                        <a href="" class="main-button">Segera!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                                <div class="pricing-item">
                                    <div class="pricing-header">
                                        <h3 class="pricing-title">Konselor Kartika</h3>
                                        <div class="col-lg-12  align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                                            <img src="static/images/Konseling Gratis_Konselor Kartika fixed.png" class="rounded img-fluid d-block mx-auto" alt="App">
                                        </div>
                                    </div>
                                    <div class="pricing-body">                                        
                                    </div>
                                    <div class="pricing-footer">
                                        <a href="https://wa.me/628998910404?text=Halo kak saya mau konsultasi?" class="main-button">Hubungi Sekarang!</a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                                <div class="pricing-item active">
                                    <div class="pricing-header">
                                        <h3 class="pricing-title">Konselor Willy</h3>
                                    </div>
                                    <div class="col-lg-12  align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                                        <img src="static/images/Konseling Gratis_Konselor Wilky Fixed.png" class="rounded img-fluid d-block mx-auto" alt="App">
                                    </div>
                                    <div class="pricing-footer">
                                        <a href="https://wa.me/6282282478008?text=Halo kak saya mau konsultasi?" class="main-button">Hubungi Sekarang!</a>
                                    </div>
                                </div>
                            </div>
                        
                    
                    
                        
                            <div class="item" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                                <div class="pricing-item">
                                    <div class="pricing-header">
                                        <h3 class="pricing-title">Konselor Adit</h3>
                                    </div>
                                    <div class="col-lg-12  align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                                        <img src="static/images/Konseling Gratis_Konselor Adit.png" class="rounded img-fluid d-block mx-auto" alt="App">
                                    </div>
                                    <div class="pricing-footer">
                                        <a href="https://wa.me/6282133977029?text=Halo kak saya mau konsultasi?" class="main-button">Hubungi Sekarang!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                                <div class="pricing-item active">
                                    <div class="pricing-header">
                                        <h3 class="pricing-title">Konselor Awal</h3>
                                    </div>
                                    <div class="col-lg-12  align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                                        <img src="static/images/Konseling Gratis_Konselor Awal.png" class="rounded img-fluid d-block mx-auto" alt="App">
                                    </div>
                                    <div class="pricing-footer">
                                        <a href="https://wa.me/6289624671028?text=Halo kak saya mau konsultasi?" class="main-button">Hubungi Sekarang!</a>
                                    </div>
                                </div>
                            </div>
                        
                    
                </div>
            
        </div>   
    </section>
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>498</strong>
                            <span>PIK R/M</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>1133</strong>
                            <span>Konselor Sebaya</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>271</strong>
                            <span>Sekolah</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>10</strong>
                            <span>Kota/Kab</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   

    <!-- ***** Blog Start ***** -->
    <section class="section" id="Lifeskills">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Lifeskills</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Kami berkomitmen untuk terus membantu perekonomian masyarakat. Mari belanja hasil dari tangan-tangan mereka di Kampung Keluarga Berkualitas!</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

                <div class="owl-carousel owl-theme">
                    
                        
                            <div class="item">
                                <div class="blog-post-thumb">
                                    <div class="img">
                                        <img src="static/images/lifeskills_tas belanja.png" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <h3>
                                            <a href="#">Tas Belanja</a>
                                        </h3>
                                        <div class="text">
                                        Sejalan dengan konsep Lingkungan Berkelanjutan maka pemanfaatan botol bekas dilakukan untuk mengurangi sampah botol dan menyelamatkan lingkungan sekitar.
                                        </div>
                                        <a href="https://wa.me/6289624671028?text=Halo%kak%saya%mau%beli%Tas%belanja" class="main-button">Belanja Sekarang!</a>
                                    </div>
                                </div>
                            </div>
                            
                        
                    
                    
                </div>
            
        </div>

    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Kontak Kami!</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Kami sadar bahwa banyak terdapat kekurangan sehingga kami membuka selebar-lebarnya kritik dan saran untuk pengembangan layanan ini lebih lanjut.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Kami sedekat nadi!</h5>
                    <div class="contact-text">
                        <p>Genre Kota Bengkulu
                        <br>Bengkulu,Indonesia</p>
                        <p>Mari bersama-sama meningkatkan kualitas remaja demi menyongsong Indonesia Emas 2045!</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->   
    <!-- ***** Footer Start ***** -->
    {% endblock content %}

    
